<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    header { border-bottom: 1px solid var(--border); margin-bottom: 5px;}
    p { white-space: pre-line; text-indent: 10px hanging each-line;}
    @media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
      body {font-size: 150%;}
    }
    </style>
    {% block page_style %}{% endblock %}
    <title>{{ title }}</title>
  </head>

  <body>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>

  {% block page_script %}{% endblock %}
</html>
